= simple_form_for(@instance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :description
    = f.input :dns_address

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
%br
