%h2 Listing instances

%p= link_to 'Update Instance List', load_from_aws_instances_path, class: 'btn btn-primary'

%table.table
  %tr
    %th Name
    %th Description
    %th Address
    %th Instance
    %th Instance type
    %th Availability zone

  - @instances.each do |instance|
    %tr
      %td
        = link_to instance.name, instance
        %br
        = instance.state
      %td
        = link_to 'Start', start_instance_path(instance), class: 'btn btn-sm btn-success' if instance.state == 'stopped'
        = link_to 'Stop', stop_instance_path(instance), class: 'btn btn-sm btn-danger' if instance.state == 'running'
      %td
        = link_to instance.public_ip_address, "http://#{instance.public_ip_address}", target: '_blank' if instance.public_ip_address.present?
        %br
        = link_to instance.dns_address, "http://#{instance.dns_address}", target: '_blank' if instance.dns_address.present?
      %td= instance.instance_id
      %td= instance.instance_type
      %td= instance.availability_zone

