%h2
  Instance:
  = @instance.name

%p#notice= notice

%p
  %b Account:
  = @instance.account
%p
  %b Description:
  = @instance.description
%p
  %b Instance:
  = @instance.instance_id
%p
  %b Instance type:
  = @instance.instance_type
%p
  %b Availability zone:
  = @instance.availability_zone
%p
  %b Dns address:
  = @instance.dns_address
%p
  %b Public IP Address:
  = @instance.public_ip_address
%p
  %b Public DNS Name:
  = @instance.public_dns_name

= link_to 'Edit', edit_instance_path(@instance)
\|
= link_to 'Destroy', @instance, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', instances_path
