= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick'
= render :partial => 'accounts/status'

%p
  = link_to 'Update', "#{update_billing_account_path(@account.id)}?ref_date=#{params[:ref_date]}", class: 'btn btn-primary'
- if @account.last_update
  %p
    Last update at
    = format_datetime @account.last_update

%h4 Indicadores
#pivot_instances

%h4 Reservas
#pivot_reserved

:javascript
  var instances = #{@instances};
  //Suporte aos gráficos
  google.load("visualization", "1", {packages:["corechart", "charteditor"]});
  $(function(){
    jQuery("#pivot_instances").pivotUI(
        instances,
        {
            cols: ['instance_type'],
            rows: ['region'],
        },
        false,
        'pt'
      );
  });
  var reserved = #{@reserved};
  $(function(){
    jQuery("#pivot_reserved").pivotUI(
        reserved,
        {
            cols: ['instance_type'],
            rows: ['region'],
        },
        false,
        'pt'
      );
  });