%h3= current_month

%table.table
  %tr
    %td
    %td Current
    %td Change (%)
    %td Previous
  %tr
    %td MONTH TO DATE SPEND:
    %td= @account.month_to_date_spend
    %td
    %td= @account.last_month_to_date_spend
  %tr
    %td= "ESTIMATE FOR #{current_month}:"
    %td= @account.month_estimate_spend
    %td= @account.month_change_spend
    %td= @account.last_month_spend
  %tr
    %td 30-DAY ROLLING AVERAGE
    %td= @account.day_average_spend
    %td= @account.day_average_spend_change
    %td= @account.yesterday_average_spend
  %tr
    %td YESTERDAY'S ESTIMATED SPEND
    %td= @account.day_spend
    %td= @account.day_spend_change
    %td= @account.yesterday_spend

%p
  = link_to 'Update', update_billing_account_path(@account.id), class: 'btn btn-primary'
%p
  Last update at
  = format_datetime @account.last_update