%h3
  = @account.name
  \:
  = current_month

%table.table
  %tr
    %td
    %td Current
    %td Change (%)
    %td Previous
  %tr
    %td MONTH TO DATE SPEND:
    %td= format_number @account.month_to_date_spend
    %td= format_number @account.month_to_date_change
    %td= format_number @account.last_month_to_date_spend
  %tr
    %td= "ESTIMATE FOR #{current_month}:"
    %td= format_number @account.month_estimate_spend
    %td= format_number @account.month_change
    %td= format_number @account.last_month_spend
  %tr
    %td 30-DAY ROLLING AVERAGE
    %td= format_number @account.day_average_spend
    %td= format_number @account.day_average_change
    %td= format_number @account.yesterday_average_spend


%p
  = link_to 'Update', update_billing_account_path(@account.id), class: 'btn btn-primary'
%p
  Last update at
  = format_datetime @account.last_update